<!DOCTYPE html>
<meta charset="utf-8" />
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/css/normalize.css" />
    <link rel="stylesheet" href="static/css/style.css" />
    <title>
        Quel lichen êtes-vous ?
    </title>
    <script type="text/javascript" src="static/js/main.js" defer></script>


    <!-- Matomo -->
    <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u = "https://nosfuturs.matomo.cloud/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '2']);
            var d = document,
                g = d.createElement('script'),
                s = d.getElementsByTagName('script')[0];
            g.async = true;
            g.src = '//cdn.matomo.cloud/nosfuturs.matomo.cloud/matomo.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Code -->

</head>
<body>

    <img id="bg-image"
         class="HOME"
         srcset="/static/images/tronc-480.jpg  480w,
                 /static/images/tronc-720.jpg  768w,
                 /static/images/tronc.jpg  900w"
         sizes="(max-width: 600px) 480px,
                (max-width: 900px) 768px,
                1080px"
         src="{{ '/static/images/tronc.jpg' }}"
         alt="Image de fond" />

    <nav>
        <p>
            <a id="retour-home" href="../">
                <span id="Qfung">Q</span><span id="Zfung">Z</span>
            </a>
        </p>
        <a id="about-p">à propos</a>
        <p id="nosfuturs">
            <a href="https://nosfuturs.net"><span>produit par</span> nosfuturs.net</a>
        </p>

    </nav>

    <section id="home">
        <h1> Quel lichen êtes-vous ? </h1>
        <h3>un quiz de Camille Ducellier</h3>

        <p><em>Félicitations ! Votre profil nous intéresse !</em></p>
<p><em>Bienvenue dans cette aventure collective où les lichens, symboles de coopérations, guident notre manière de travailler ensemble.</em></p>
<p><em>Pour découvrir les rôles que vous avez tendance à jouer au sein d'un groupe, nous vous proposons ce questionnaire de 20 minutes, jalonné par les témoignages de trois collectifs bruxellois.</em></p>
<p><em>Rejoignez notre équipe et expérimentez un modèle de travail plus horizontal !</em></p>
<p><em>Montez le son et lancez-vous !</em></p>


        <h2 id="commencer">
            <a href="./quizz">Commencer le travail</a>
        </h2>
    </section>
    <div class="show">
        <audio id="bg-sound"
               preload="auto"
               autoplay
               loop
               muted="0"
               allow="autoplay, '*'">
            <source src="static/sounds/lichen_accueil_vdef_comp.mp3"
                    type="audio/mpeg"/>
            Votre navigateur ne supporte pas l'audio :(
        </audio>
    </div>

    <section id="about">
        <button id="close">×</button>
        <details>
  <summary> C&#39;est quoi le projet ?</summary>
  <p><p>Le quizz “Quel lichen êtes-vous ?” est une expérience documentaire pour aborder les dynamiques de coopération dans le travail collectif.<p></p>
<p>Il emprunte les codes des tests psychologiques pour les hybrider avec ceux du webdocumentaire, en utilisant la symbolique du lichen, modèle de coopérations fructueuses.</p>
<p>Le quizz s’appuie également sur les expériences concrètes de travailleur·euses bruxelloix·ses qui expérimentent toutes sortes de dynamiques collectives autogestionnaires.</p>
<p>Des vidéos documentaires jalonnent l’expérience du quizz.
Elles permettent de découvrir à la fois des outils et des réflexions des travailleur·euses de trois structures bruxelloises : </p>
<ul>
<li><a href="https://www.facebook.com/lepainleve.bxl/?locale=fr_FR"><em>Le pain levé</em></a>, une boulangerie autogérée militante</li>
<li><a href="https://rcoop.be/"><em>Rcoop</em></a>, une coopérative d'entrepreneurs axée sur les métiers de contact comme la coiffure, l'esthétique, les soins, etc</li>
<li><a href="https://collectiv-a.be/"><em>CollectivA</em></a>, un collectif de facilitateur·ices.</li>
</ul>
<p><p>Les résultats du quizz présentent quatre profils de lichen qui correspondent à des manières de travailler en collectif. Ils font référence à des rôles archétypaux et à des dynamiques possibles dans le travail collectif.<p></p>

</details>

<details>
  <summary> Pourquoi des lichens ?</summary>
  <p><p>Que pouvons-vous apprendre des lichens ?<p></p>
<p>Issus d'une relation symbiotique entre un champignon et une algue, plus de 20 000 espèces de lichens sont présents à travers le monde. Le champignon assure la nutrition en eau et en sels minéraux, alors que l'algue ou la cyonobactérie réalisent la photosynthèse permettant la croissance du lichen.</p>
<p>Cette association mutuellement bénéfique, apellée aussi symbiose est un exemple dans nos ecosystèmes, de ce que les humain·es peinent à faire ensemble.</p>
<p>D'un point de vue philosophique, ils nous montrent comment la coopération entre les règnes est possible en dehors des processus de parasitage, de conquète ou de colonisation. Sur le plan écologique, ce sont des biomarqueurs incroyables. Ils nous informent de la qualité de l'air de part leur grande sensibilité à l'atmosphère et leur adaptation à des conditions de vies variées.</p>
<p>Face aux dynamiques collaboratives, les lichens peuvent nous éclairer sur la manière dont chacun·e peut trouver sa place, son rôle, son apport au sein d'un organisme complexe, comme un collectif, une équipe, un groupe, une coopérative, une entreprise et/ou un bînome. C'est ainsi que je me suis laissée guider par les lichens pour aborder les formes de coopérations possibles dans le travail collectif.</p>
<p>→ Plus d'infos sur les lichens : <a href="https://www.lichensgo.eu"><em>Lichens Go!</em></a></p>
<p>→ Pour les reconnaitre : <a href="https://lichensgo.eu/flore/flore_1.htm"><em>Flore en ligne</em></a></p>

</details>

<details>
  <summary> Quelles sont les inspirations ?</summary>
  <ul>
<li><p>Le projet <a href="https://www.lichensgo.eu"><em>Lichens GO!</em></a>, un programme de sciences participatives qui vise à évaluer la qualité de l’air autour de chez vous en utilisant la biosurveillance par les lichens.</p>
</li>
<li><p><a href="https://fr.wikipedia.org/wiki/Donna_Haraway"><em>Donna Haraway</em></a> pour l’entièreté de son travail et la mise en lumière de la magie des coopérations et de toutes sortes de troubles avec lesquels vivre dans un monde abîmé à fertiliser d’idées et de révolutions.</p>
</li>
<li><p><a href="https://micropolitiques.collectifs.net/"><em>micropolitiques des groupes</em></a> pour leur travail fourni sur les dynamiques collaboratives.</p>
</li>
<li><p><a href="https://starhawk.org/"><em>Starhawk</em></a> pour l’entièreté de son travail et notamment sa grille de lecture des dynamiques collectives. Je me suis grandement inspirée de son livre <a href="https://www.cambourakis.com/tout/sorcieres/comment-sorganiser/">“Comment s'organiser ? Manuel pour une action collective”</a> pour créer des ponts entre les rôles Corbeau - Dragons - Grâce - Serpent avec les 4 profils de lichen.</p>
</li>
<li><p><a href="https://typotheque.genderfluid.space/"><em>Bye Bye Binary</em></a>, une collective franco-belge, une expérimentation pédagogique, une communauté, un atelier de création typo·graphique variable, un réseau, une alliance que je trouve particulièrement entousiasmante et qui m'a permis d'utiliser la typo Homoneta pour les textes.</p>
</li>
<li><p><a href="https://velvetyne.fr/fonts/fungal/"><em>La typo Fungal</em></a> dessiné par Jérémy Landes et Raphaël Bastide de The Deja Vu Legacy Authors.</p>
</li>
</ul>

</details>

<details>
  <summary> Comment utiliser ce quiz en collectif ?</summary>
  <p><p> Bien que ce quiz soit conçu pour un profil individuel, il peut être utilisé également comme un outil pour réflechir en collectif.<p></p>
<p>Plusieurs options possibles (et d'autres à inventer encore) :</p>
<p>1) Faire le quiz individuellement et partager ses résultats pour voir les dynamiques de complémentarités au sein du groupe.</p>
<p>2) Revoir les vidéos, sans le quiz, comme base de discussion collective.
<a href="https://vimeo.com/user/10945692/folder/15479831">Vous pouvez accéder à toutes les vidéos, en cliquant ici : oui, je veux voir !</a></p>

</details>

<details>
  <summary> Comment ce quizz est diffusé ?</summary>
  <p><p>Ce quizz est accessible sur le site <a href="about/www.nosfuturs.net"><em>nosfuturs.net</em></a>, une plateforme documentaire produite et diffusée par le <a href="https://cvb.be/fr"><em>Centre Vidéo de Bruxelles</em></a>.<p></p>
<p><p><a href="about/nosfuturs.net">nosfuturs.net</a> propose une constellation de documentaires, dont les deux premiers volets traitent de la thématique du "travail qui vient".<p></p>
<p><p>Le premier volet, diffusé en 2021, proposait une approche dystopique du travail qui vient, alors que le second volet thématique prend une tournure plus utopique. Le quizz a été crée dans le cadre de ce second volet, diffusé en mai 2023.<p></p>

</details>

<details>
  <summary> Qui sont les coéquipièr·es ?</summary>
  <p><p>Équipe artistique<p></p>
<ul>
<li>Auteure : <a href="http://www.camilleducellier.com/"><em>Camille Ducellier</em></a></li>
<li>Conception interactive : <a href="https://www.thomasbris.space/"><em>Thomas Bris</em></a></li>
<li>Musique originale : <a href="https://imosique.com/"><em>Isabelle Moricheau</em></a></li>
<li>Montage : <a href="https://cvb.be/fr/nosfutursnet-1"><em>Lucas Furtado</em></a>, <a href="http://www.camilleducellier.com/"><em>Camille Ducellier</em></a></li>
<li>Image : <a href="https://www.camillelangloisdp.com/"><em>Camille Langlois</em></a></li>
<li>Son : <em>Simon Morard, Diana Dolce</em></li>
</ul>
<p><p>Production<p></p>
<ul>
<li>Producteurs : <a href="https://cvb.be/fr/nosfutursnet-1"><em>Cyril Bibas</em>, <em>Marc Jottard</em></a></li>
<li><em>Produit par le</em> <a href="https://cvb.be/fr"><em>Centre Video de Bruxelles</em></a></li>
<li><em>Dans l'agrégateur</em> <a href="https://cvb.be/fr/nosfutursnet-1"><em>NosFuturs.Net</em></a></li>
</ul>
<p><p>Partenaires financiers<p></p>
<ul>
<li><em>avec le soutien de</em> <a href="hhttps://smartbe.be"><em>Smart</em></a></li>
</ul>
<p><p>Equipe de testeur·euses<p></p>

</details>

<details>
  <summary> Qui est l&#39;autrice ?</summary>
  <p><p>Artiste multimédia, Camille Ducellier est également une auteure-réalisatrice française.<p></p>
<p>Elle se passionne pour la variété des corps, des genres et des cultures minorisées.</p>
<p>Depuis 2010, elle oeuvre à la réappropriation féministe de l'archétype de la sorcière à travers des projets artistiques dont les formes peuvent varier et se démarque également par l'utilisation du format vertical 9/16 dans ses dernières séries : <a href="https://www.facebook.com/francetvslash/videos/gender-derby-%C3%A9pisode-1/394039501147469/?locale=fr_FR"><em>Gender Derby</em></a> (2018), <a href="https://www.youtube.com/watch?v=Lx5tF9B_6Ic&amp;t=8s"><em>Chef.fe</em></a> (2020) et <a href="https://www.france.tv/slash/sorciere-lisa/"><em>Sorcière Lisa</em></a> (2021).</p>
<p>Elle est l'auteure d’un ouvrage préfacé par Starhawk, <a href="https://www.cambourakis.com/tout/sorcieres/le-guide-pratique-du-feminisme-divinatoire/"><em>Le Guide Pratique du Féminisme Divinatoire</em></a> et publié dans la Collection Sorcières des Éditions Cambourakis (2018).</p>
<p>→ d’autres projets sur <a href="about/www.camilleducellier.com"><em>camilleducellier.com</em></a></p>

</details>
    </section>
</body>
