{% macro display_vid(video, n, question, lichen) %}

{% set url = video|string %}

{% set url_p1 = video[18:27] %}
{# set url_p2 = video[28:38] #}

<div class="video-wrapper q{{ question }} rep{{ n }} {{ lichen }}">
  <iframe title="vimeo-player" src="https://player.vimeo.com/video/{{ url_p1 }}?autoplay=0&controls=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  <button class="skip">(AVANCER)</button>
</div>

{% endmacro %}
