/* ---------- NORMALIZE/RESET ---------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Homoneta";
  src: url("../fonts/Homoneta-Regular-subset.zopfli.woff") format("woff"),
    url("../fonts/Homoneta-Regular-subset.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fungal";
  src: url("../fonts/FungalVF-subset.zopfli.woff") format("woff"),
    url("../fonts/FungalVF-subset.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Redaction-CVB";
  src: url("../fonts/Redaction35-Bold-CVB-subset.zopfli.woff") format("woff"),
    url("../fonts/Redaction35-Bold-CVB-subset.woff2") format("woff2");

  font-style: normal;
  font-display: swap;
}

@keyframes respiration {
  0% {
    font-variation-settings: "THCK" 300, "grow" 100;
  }
  100% {
    font-variation-settings: "THCK" 700, "grow" 1000;
  }
}

@keyframes apparition {
  from {
    opacity: 0;
    -webkit-transform: translateY(-0.5em);
    -moz-transform: translateY(-0.5em);
    -o-transform: translateY(-0.5em);
    -ms-transform: translateY(-0.5em);
    transform: translateY(-0.5em);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

:root {
  --background: #00141e;

  /* variations plus claires du "purple" qui est en fait du vert mdr → #30c76d */
  --foreground: #adebc6;

  /* --hover: #30c76d; */
  /* --purple: #9266cc; */

  --hover: #9266cc;
  --purple: #30c76d;

  /* OG colors ;) */
  /* --foreground: #1f8052; */

  --nbre-questions: 30;

  --border: 2px;
  --smoller: 0.64rem;
  --smol: 0.8rem;
  --medium: 1.25rem;
  --big: 1.953rem;
  --bigger: 2.44125rem;
  --max: 3.052rem;

  --local-lichen-size: 9rem;
  --vh: 1;
  --delay: 0.3s;
}

html {
  font-family: "Homoneta", serif;
  font-size: calc(1vmin + 10px);
  color: var(--foreground);
  cursor: url("../extra/mouse.svg") 16 16, auto;
  line-height: 1.2;

  height: 100%;
  width: 100%;
}

body {
  background: var(--background);
  cursor: url("../extra/mouse.svg") 16 16, auto;

  display: grid;
  grid-template-columns: 1fr minmax(100vmin, 3fr) 1fr;
  grid-template-rows: 1fr;

  height: 100%;
  width: 100%;
}

::selection {
  color: var(--foreground);
  text-shadow: var(--foreground) 0 0 0.3em, var(--foreground) 0 0 3em;
}

section {
  grid-column: 2;
  grid-row: 1;

  height: 100%;
  width: 100%;
  padding: var(--bigger) var(--big);
  padding-top: calc(var(--max) * 2);
}

em {
  color: var(--hover);
  font-style: normal;
  font-weight: normal;
  transition: text-shadow ease-out 0.5s, color ease-out 0.5s;
}

a,
button {
  font-family: "Fungal";
  color: var(--foreground);
  text-decoration: none;

  transition: font-variation-settings ease-out 0.5s, text-shadow ease-out 0.5s,
    color ease-out 0.5s;
  font-variation-settings: "THCK" 100, "grow" 300;
  cursor: url("../extra/mouse_green.svg") 16 16, auto;
}

a:focus,
a:hover,
a:focus em,
a:hover em {
  color: var(--foreground);
  cursor: url("../extra/mouse_green.svg") 16 16, auto;

  text-shadow: var(--purple) 0 0 1.5em, var(--foreground) 0 0 0.2em;
  font-variation-settings: "THCK" 650, "grow" 750;
}

button {
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  background: none;
  color: var(--hover);
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button:hover,
button:focus {
  color: var(--foreground);
  text-shadow: var(--purple) 0 0 1.5em, var(--foreground) 0 0 0.2em;
  font-variation-settings: "THCK" 650, "grow" 750;
}

button:focus {
  outline: 2px solid var(--hover);
  outline-offset: -4px;
}

nav,
h1,
h3 {
  font-family: "Fungal", Deja Vu Sans, sans-serif;
  font-variation-settings: "THCK" 300, "grow" 100;
  font-weight: bold !important;
}

h1,
h2,
h3 {
  color: var(--hover);
  margin-top: 0;
  text-align: center;
}

h1 {
  margin-bottom: var(--smol);
  font-size: var(--bigger);
}

h2 {
  margin-top: var(--max);
  padding-top: var(--big);
  font-size: var(--big);
  transition: opacity 1s ease;
}

h3 {
  font-size: var(--medium);
  font-variation-settings: "THCK" 220, "grow" 310;
  bottom: 6.5rem;
}

details[open] {
  margin-bottom: 1.2em;
}

details p {
  margin-left: 1em;
  margin-right: 1em;
}

details ul {
  font-size: var(--medium);
  list-style: none;
  list-style-position: outside;
  margin-left: 2em;
}

details li p {
  margin: 0;
  display: inline;
}

details li::before {
  content: "_";
  color: var(--hover);
  /* font-size: var(--smol); */
  margin-right: 0.5em;
  vertical-align: 30%;
  font-family: "Fungal", Deja Vu Sans, sans-serif;

  font-variation-settings: "THCK" 300, "grow" 100;
  text-transform: uppercase;
  font-weight: bold !important;
}

details + details {
  margin-top: 1em;
  font-weight: normal;
}

summary {
  list-style: none;
  font-size: var(--big);
  color: var(--hover);
  padding: 0;
  transition: color ease-out 0.5s;
}

#about summary::before {
  content: "…";

  display: inline-block;
  color: #9266cc;
  font-family: "Homoneta", serif;
  vertical-align: 20%;
  padding-right: 0.2em;
  text-decoration: none;

  font-variation-settings: "THCK" 300, "grow" 100;
  text-transform: uppercase;
  font-weight: bold !important;
}

summary:focus,
summary:hover {
  cursor: url("../extra/mouse_green.svg") 16 16, auto;
  text-decoration: underline;
  text-underline-offset: 0.2em;
  color: var(--foreground);
}

p {
  font-size: var(--medium);
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

p + p {
  margin-top: var(--smoller);
}

ul {
  list-style: none;
}

.titre-temp {
  font-size: var(--big);
  transform: rotate(90deg);
  display: inline-block;
}

.switch-sound {
  display: none;
}

#bg-image,
.bg-video {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  mix-blend-mode: hard-light;

  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  pointer-events: none;

  z-index: -5;
  object-fit: cover;
}

#bg-image:not(.HOME) {
  display: none;
}

#bg-image.SCORES,
#bg-image.PROFILS {
  display: block;
}

#bg-video-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#vid-480p {
  display: none;
}

#vid-720p {
  display: inline-block;
}

/* ORDRE QUESTIONS ------------------------------------------------------- */
#ordre-questions {
  display: none;
}

/* NAV ------------------------------------------------------- */
nav {
  position: fixed;
  z-index: 10;
  color: var(--hover);
}

nav p {
  position: fixed;
  width: fit-content;
  padding: 0.5rem;
  font-size: 1rem;
  margin: 1.25rem;
}

nav a {
  color: var(--hover);
  text-decoration: none;
  animation: respiration 400s ease forwards;
}

nav a:focus,
nav a:hover {
  color: var(--foreground);
  text-decoration: none;
}

#retour-home {
  font-size: 1.2rem;

  text-align: center;
  display: block;

  height: 2.2em;
  width: 2.2em;

  border-radius: 50%;
  border: solid var(--hover) 2px;

  animation: none;
  font-family: "Fungal", Deja Vu Sans, sans-serif;
  font-variation-settings: "THCK" 600, "grow" 500;
  padding-top: 0.3em;
  padding-right: 0.18em;
  letter-spacing: -0.15em;

  background: none;
  transition: background 1s ease, color 1s ease, font-variation-settings 1s ease,
    text-shadow 1s ease;
}

#retour-home:hover,
#retour-home:focus {
  font-variation-settings: "THCK" 200, "grow" 100;
  background: var(--hover);
}

#Qfung {
  vertical-align: 20%;
}

#Zfung {
  vertical-align: -20%;
}

#about-p {
  margin: 0.889rem;
  border-radius: 1.2em;
  border: solid var(--hover) 2px;
  padding: 0.7em 0.8em 0.5em 0.8em;
  position: fixed;
  bottom: 0;
  left: 0;
  background: transparent;
  transition: background 1s ease;
}

#about-p:hover {
  background: var(--hover);
}

#nosfuturs {
  bottom: -0.3em;
  right: 0;

  /* s'affiche si on vient depuis le site de nosfuturs.net */
  /* display: none; */
}

#nosfuturs a {
  font-family: "Redaction-CVB";
  font-size: var(--big);

  color: var(--hover);
  -webkit-text-stroke: 0.004em var(--foreground);
  text-shadow: -0.05em 0.05em var(--foreground);

  transition: text-shadow 0.5s ease;
}

#nosfuturs span {
  font-family: "Fungal";
  font-size: 1rem;
  color: var(--hover);
  display: inline;
  transition: none;
  text-shadow: none;
  animation: respiration 400s ease forwards;
}

#nosfuturs a:hover,
#nosfuturs a:focus {
  text-shadow: none;
}

/* SCROLL-GRADIENT --------------------------------------------------------- */
.scroll-gradient {
  position: fixed;
  width: 100%;
  left: 50%;

  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);

  height: 0vmin;
  transition: height ease-in-out 0.2s;
}

/* HOMEPAGE ------------------------------------------------------- */
#home h3 {
  margin-bottom: 5.5rem;
}

#commencer a {
  display: inline-block;
  width: fit-content;
}

#commencer a h2 {
  transition: color ease 1s;
}

#commencer a:focus h2,
#commencer a:hover h2 {
  color: var(--foreground);
}

#commencer p {
  font-family: "Fungal", Deja Vu Sans, sans-serif;
  font-size: var(--max);
  letter-spacing: -0.75ex;

  -webkit-transform: translateX(-0.3em);
  -moz-transform: translateX(-0.3em);
  -o-transform: translateX(-0.3em);
  -ms-transform: translateX(-0.3em);
  transform: translateX(-0.3em);

  font-variation-settings: "THCK" 300, "grow" 100;
  text-transform: uppercase;
  font-weight: bold !important;
}

#roulette {
  position: relative;
  width: 100%;
  height: 2em;
  padding-top: 0.5em;
}

#roulette img {
  position: absolute;
  max-width: 30%;
  left: 50%;

  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);

  height: auto;
  visibility: hidden;
  mix-blend-mode: darken;
  opacity: 0.7;
}

#commencer img:first-of-type {
  visibility: visible;
}

#commencer span {
  font-size: var(--max);
}

/* ABOUT ---------------------------------------------------------- */
#about {
  display: none;
  background: var(--background);
  z-index: 20;
  border: solid var(--foreground) var(--border);
  max-height: 80vmin;
  max-width: 80vmin;
  overflow: auto;
  padding: var(--big);
  padding-left: 2.5em;

  grid-row: 1;
  grid-column: 2;

  justify-self: center;
  align-self: center;

  position: fixed;
}

#about details:first-of-type {
  margin-top: 5rem;
}

#about details + details {
  margin-top: 0.5em;
}

#about a {
  font-family: "Homoneta";
}

#about a:focus,
#about a:hover {
  color: var(--purple);
  text-decoration: none;
}

#close {
  font-family: "Homoneta", serif;
  position: sticky;
  float: right;
  top: 0;
  right: 0;
  font-size: 6em;
  line-height: 0.4;
  transition: color ease-out 0.5s;
}

/* QUIZZ ---------------------------------------------------------- */
.page > * {
  max-width: calc(100vw - 7.5rem + var(--max));
}

.page {
  font-size: var(--medium);
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 1s ease;
}

.page.display {
  opacity: 1;
  visibility: visible;
}

.page h3 {
  margin-bottom: 5rem;
}

#question-01 {
  opacity: 1;
  visibility: visible;
}

.page p:first-of-type {
  margin-top: var(--max);
}

.reponse p {
  font-family: "Homoneta";
  margin: 0;
  display: inline;
}

.reponse ul {
  margin-top: var(--medium);
  list-style-position: inside;
}

.reponse li {
  width: fit-content;
  padding: 0.2em 0;
  padding-left: var(--big);
  text-indent: -1.25em;
}

.reponse li + li {
  margin-top: 0.3em;
}

.reponse li::marker {
  content: "…";
  color: var(--foreground);
}

.reponse li:hover,
.reponse li:focus {
  color: var(--purple);
}

/* dernière page */
#resultats {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  display: none;
}

#resultats em a {
  font-family: Homoneta;
  color: var(--foreground);
}

#final-wrapper {
  display: none;
  opacity: 0;
}

/* ---------- VIDEOS ---------- */
.video-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  height: 100vmin;
  width: 100vmin;
  overflow: hidden;
  padding-top: 100%;
  display: none;

  opacity: 0;
  background: var(--background);
  transition: opacity 0.5s ease-out;

  z-index: 100;
}

iframe {
  position: absolute;
  height: 100%;
  width: 178%;
  top: 0;
  left: -39%;
  right: 0;
  bottom: 0;
}

.video-wrapper #skip {
  position: fixed;
  right: 2%;
  bottom: calc(50% - 0.6em);
  font-size: 5em;

  font-family: "Fungal", Deja Vu Sans, sans-serif;
  font-variation-settings: "THCK" 300, "grow" 100;
  font-weight: bold !important;

  color: var(--foreground);
}

#toc {
  font-family: "Fungal", Deja Vu Sans, sans-serif;
  font-size: calc(50vh / var(--nbre-questions) - 1 / 3vw);
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  width: 1.5em;
  max-height: 80vh;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  padding-right: 3.5em;
  text-align: center;
  font-variation-settings: "THCK" 300, "grow" 100;
  font-weight: bold;
  gap: calc(0.75vh);
  opacity: 0.6;

  transition: opacity 1s;
}

#toc span:first-of-type {
  color: var(--hover);
}

#toc span {
  position: relative;
  display: inline-block;
  width: 2em;
  font-variation-settings: "THCK" 200, "grow" 300;
  transition: color 1s, font-variation-settings 1s;
}

#toc span + span:nth-of-type(2n + 1)::before {
  content: "(";
  position: absolute;
  top: -0.8em;
  transform: translateX(-0.5em);
}

#toc span + span:nth-of-type(2n)::before {
  content: ")";
  position: absolute;
  top: -0.8em;
  transform: translateX(1.4em);
}

#toc-mobile,
.numero-question {
  font-family: "Fungal", DejaVu Sans, sans-serif;
  font-size: var(--medium);
  position: absolute;
  top: var(--big);
  /* top: 100px; */
  display: none;
  right: var(--big);
  opacity: 1;
}

.numero-question {
  padding-right: var(--max);
  color: var(--hover);
  transition: opacity 1s;
}

#toc-mobile {
  font-variation-settings: "THCK" 200 "grow" 200;
  transition: opacity 1s, font-variation-settings 1s;
}

/* SCORES --------------------------------------------------------- */
#scores {
  position: absolute;
  margin: 0;
  padding: var(--big);
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  --largeur-video: 60vmin;
  --largeur-colonne: calc(var(--largeur-video) / 2);

  display: grid;
  grid-template-rows: 1fr 60vmin 1fr;
  grid-template-columns: 1fr 30vmin 30vmin 1fr;

  align-items: center;
  justify-items: center;
}

#scores h3 {
  margin-bottom: 0;
  color: var(--foreground);
  transition: text-shadow 1s ease, font-variation-settings 1s ease;
  text-shadow: none;
}

#scores a:hover h3 {
  text-shadow: var(--purple) 0 0 1.5em, var(--foreground) 0 0 0.2em;
  font-variation-settings: "THCK" 650, "grow" 750;
}

#scores a:hover span {
  text-shadow: none;
}

#roles-vid-wrapper,
#text-video {
  grid-row: 2;
  grid-column: 2 / span 2;
  height: 100%;
  width: 100%;
  position: relative;
}

#roles-vid-wrapper {
  border-radius: 50%;
  overflow: hidden;
}

#scores iframe {
  /* Correction cadrage */
  height: 105%;
  width: 185%;
  top: -3%;
  left: -43%;
}

#text-video {
  isolation: isolate;
  z-index: 100;
  display: flex;
  text-shadow: var(--hover) 0 0 0.2em, var(--hover) 0 0 0.4em,
    var(--hover) 0 0 0.6em, var(--hover) 0 0 1em, var(--hover) 0 0 2em,
    var(--hover) 0 0 3em, var(--hover) 0 0 4em, var(--hover) 0 0 5em,
    var(--hover) 0 0 6em;
  padding: var(--big);
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: calc(var(--bigger) / 1.25);
  opacity: 0;
  transition: opacity 2s;
  pointer-events: none;
}

#roles-vid-wrapper video {
  position: absolute;
  height: 100%;
  width: 182%;
  left: -41%;
  top: 0;
  right: 0;
  bottom: 0;
  transform: scale(1.0075);
}

#scores a {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  transition: background 1s;
  position: relative;
}

#scores a::before {
  position: absolute;
  content: " ";
  background: radial-gradient(
    hsl(151.25, 60.76%, 30.98%) 0%,
    hsla(151.25, 60.76%, 30.98%, 0.898) 0%,
    hsla(151.25, 60.76%, 30.98%, 0.798) 0.2%,
    hsla(151.25, 60.76%, 30.98%, 0.7) 0.8%,
    hsla(151.25, 60.76%, 30.98%, 0.605) 1.9%,
    hsla(151.25, 60.76%, 30.98%, 0.514) 3.7%,
    hsla(151.25, 60.76%, 30.98%, 0.428) 6.4%,
    hsla(151.25, 60.76%, 30.98%, 0.347) 10.2%,
    hsla(151.25, 60.76%, 30.98%, 0.272) 15.2%,
    hsla(151.25, 60.76%, 30.98%, 0.205) 21.6%,
    hsla(151.25, 60.76%, 30.98%, 0.146) 29.6%,
    hsla(151.25, 60.76%, 30.98%, 0.096) 39.4%,
    hsla(151.25, 60.76%, 30.98%, 0.055) 51.2%,
    hsla(151.25, 60.76%, 30.98%, 0.025) 65.1%,
    hsla(151.25, 60.76%, 30.98%, 0.006) 81.3%,
    hsla(151.25, 60.76%, 30.98%, 0) 100%
  );
  overflow: visible;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  height: 300%;
  max-height: 60vh;
  opacity: 0;
  transition: opacity 0.5s;
}

#scores a:hover::before {
  opacity: 1;
}

#scores article {
  flex: 0 0 auto;
  font-size: var(--medium);
  width: 100%;
  max-width: 25vmax;
  padding: 1em;
  text-align: center;
}

#GEL {
  grid-row: 2;
  grid-column: 1;
}

#CRU {
  grid-row: 2;
  grid-column: 4;
}

#FOL {
  grid-row: 1;
  grid-column: 2 / span 2;
}

#FRU {
  grid-row: 3;
  grid-column: 2 / span 2;
}

.barre-pourcentage {
  font-family: "Homoneta", serif;
  display: inline-block;
  height: 0.12em;
  width: 0.2em;
  width: var(--local-width);
  background: var(--hover);
  position: relative;
  border-radius: 50%;
  margin-top: 0.2em;

  z-index: -1;
}

.barre-pourcentage::after {
  content: attr(data-width);
  position: relative;
  top: 0.25em;
  font-size: var(--medium);
  font-variant-numeric: oldstyle-nums; /* pour les chiffres de l'Homoneta */
}

/* PROFILS --------------------------------------------------------- */
#profils {
  padding-bottom: 6rem;
}

#profils h1 {
  margin-bottom: calc(var(--max) * 1.5);
}

#profils h2 {
  font-family: "Homoneta", serif;
  position: static;
  font-size: var(--bigger);
  transition: opacity 1s;
  padding-top: 0;
}

#profils div {
  margin-top: 1em;
  display: none;
}

#profils div.show,
.img-wrapper {
  display: block !important;
}

#profils p em {
  display: inline-block;
  padding-top: var(--medium);
}

.img-wrapper {
  border-radius: 50%;
  overflow: hidden;
  height: 17rem;
  width: 17rem;

  position: relative;
  text-align: center;
  display: inline;
  margin: 0 auto;
  background-blend-mode: hard-light;
  background-position: center;
  background-size: 100%;
  background-color: var(--background);
  transition: opacity 1s;

  margin-top: -1rem;
}

#bonus-nav {
  position: fixed;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  left: 0;
  writing-mode: vertical-lr;
  text-orientation: sideways-left;
  padding: var(--big);

  display: flex;
  justify-content: center;
  height: 100%;
  z-index: -1;
}

#revenir {
  margin-bottom: 0;
}

#revenir a {
  animation: none;
  font-variation-settings: "THCK" 220, "grow" 310;
  transition: font-variation-settings 0.5s ease, color 0.5s ease;
}

#revenir a:hover,
#revenir a:focus {
  font-variation-settings: "THCK" 650, "grow" 750;
}

#recommencer {
  margin-top: 4rem;
  display: flex;
  justify-content: space-evenly;
}

#recommencer a {
  text-decoration: none;
}

/* Afficher les trucs ------------------------------------------------- */
.display {
  display: block !important;
}

.scroll-gradient.display {
  height: 7vmin;
}

/* RESPONSIVE ------------------------------------------------- */
@media screen and (max-width: 960px), (max-height: 960px) {
  #about {
    max-height: 85vmin;
    max-width: 85vmin;
  }

  section:not(.page) {
    padding-top: 6rem;
  }
}

@media screen and (max-width: 960px), (max-height: 768px) {
  section:not(.page) {
    padding-top: 6rem;
  }

  h2 {
    bottom: 2rem;
  }

  #profils p {
    padding-left: 3.5rem;
  }

  #profils h2 {
    padding-top: var(--big);
  }

  #vid-480p {
    display: block;
  }

  #vid-720p {
    display: none;
  }
}

@media screen and (max-width: 768px), (max-height: 768px) {
  :root {
    --smoller: 0.79rem;
    --smol: 0.889rem;
    --medium: 1.125rem;
    --big: 1.266rem;
    --max: 1.802rem;
  }

  nav p {
    margin: 0.889rem;
  }

  #about {
    max-height: 93vmin;
    max-width: 93vmin;
  }
}

/* MOBILE */
@media screen and (max-width: 768px), (max-height: 600px) {
  .page > * {
    max-width: 100%;
  }

  #toc {
    display: none;
  }

  #toc-mobile,
  .numero-question {
    display: block;
  }

  #vid-480p {
    display: none;
  }

  #bg-image:not(.HOME) {
    display: inline-block;
  }
}

@media screen and (max-width: 1080px) {
  #scores article {
    max-width: 100%;
  }

  #scores a {
    background-size: 100% 20vmin;
  }

  #scores #GEL {
    grid-row: 1;
    grid-column: 1 / span 2;
  }

  #scores #FOL {
    grid-row: 1;
    grid-column: 3 / span 2;
  }

  #scores #FRU {
    grid-row: 3;
    grid-column: 1 / span 2;
  }

  #scores #CRU {
    grid-row: 3;
    grid-column: 3 / span 2;
  }
}

@media screen and (min-width: 768px) {
  .page > * {
    max-width: calc(100vw - 9.5rem + var(--max));
  }
}

@media screen and (min-width: 160vh) {
  #scores article {
    max-width: 60vmin;
  }
}

@media screen and (orientation: portrait) {
  section {
    padding-top: 8rem;
    padding-bottom: 5rem;
  }

  #scores a {
    background-size: 100vmin 20vmin;
  }

  #scores article {
    max-width: 100%;
  }

  #scores #GEL {
    grid-row: 1;
    grid-column: 1 / span 2;
  }

  #scores #FOL {
    grid-row: 1;
    grid-column: 3 / span 2;
  }

  #scores #FRU {
    grid-row: 3;
    grid-column: 1 / span 2;
  }

  #scores #CRU {
    grid-row: 3;
    grid-column: 3 / span 2;
  }

  #profils p {
    padding-left: 3.5rem;
  }
}

@media screen and (orientation: portrait), (min-height: 160vw) {
  h2 {
    margin-top: calc(var(--max) * 2);
    padding-top: var(--max);
  }
}
