{% set LICHEN_CLEAN = this.lichen | replace('é', 'e') | upper %}

<div id="{{ LICHEN_CLEAN[:3] }}" class="profiles">
    <h1>Lichens {{ this.lichen | lower }}</h1>
    <div class="img-wrapper" style="background-image: url({{ '../static/images/colored/' + LICHEN_CLEAN | lower + '.jpg' | url }});">
    </div>
    <h2>Votre profil de coopérateurice</h2>

    {{ this.style }}

    {{ this.propriete }}

    {{ this.analogies }}

    <audio id="bg-sound" preload="auto" autoplay loop muted="0">
        <source
            src="{{ '/static/sounds/lichen_' + LICHEN_CLEAN + '_vdef_comp.mp3' | url }}"
            type="audio/mpeg" />
        Your browser does not support the audio element.
    </audio>
</div>
