{% extends "layout.html" %}

{% block bg_video %}
    <img id="bg-image"
         class="HOME"
         srcset="{{ '/static/images/tronc-480.jpg' }} 480w,
                 {{ '/static/images/tronc-720.jpg' }} 768w,
                 {{ '/static/images/tronc.jpg' }} 900w"
         sizes="(max-width: 600px) 480px,
                (max-width: 900px) 768px,
                1080px"
         src="{{ '/static/images/tronc.jpg' }}"
         alt="Image de fond" />

{% endblock %}

{% block body %}
    <section id="home">
        <h1> Quel lichen êtes-vous ? </h1>
        <h3>un quiz de Camille Ducellier</h3>

        {{ this.body }}

        <h2 id="commencer">
            <a href="./quizz">Commencer le travail</a>
        </h2>
    </section>
    <div class="show">
        <audio id="bg-sound"
               preload="auto"
               autoplay
               loop
               muted="0"
               allow="autoplay, '*'">
            <source src="{{ '/static/sounds/lichen_accueil_vdef_comp.mp3'|url }}"
                    type="audio/mpeg"/>
            Votre navigateur ne supporte pas l'audio :(
        </audio>
    </div>
{% endblock %}
