<!DOCTYPE html>
<meta charset="utf-8" />
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ '/static/css/normalize.css'|url }}" />
    <link rel="stylesheet" href="{{ '/static/css/style.css'|url }}" />
    <title>
        {% block title %}Quel lichen êtes-vous ?{% endblock %}
    </title>
    <script type="text/javascript" src="{{ '/static/js/main.js'|url }}" defer></script>
    {% block head %}{% endblock %}

    <!-- Matomo -->
    <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u = "https://nosfuturs.matomo.cloud/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '2']);
            var d = document,
                g = d.createElement('script'),
                s = d.getElementsByTagName('script')[0];
            g.async = true;
            g.src = '//cdn.matomo.cloud/nosfuturs.matomo.cloud/matomo.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Code -->

</head>
<body>
    {% macro gen_bg_vid(titre_vid, vid) %}
        {% set mp4_vid_720 = '/static/videos/720/' + titre_vid + '_720_h264.mp4' %}
        {% set webm_vid_720 = '/static/videos/720/' + titre_vid + '_720.webm' %}
        {% set mp4_vid_480 = '/static/videos/480/' + titre_vid + '_480_h264.mp4' %}
        {% set webm_vid_480 = '/static/videos/480/' + titre_vid + '_480.webm' %}
        {% set img_fallback = '/static/images/' + titre_vid %}

        {% if vid %}
            <div id="bg-video-wrapper">
                <video preload="auto"
                       autoplay
                       muted
                       loop
                       disablePictureInPicture
                       controlsList="nodownload"
                       poster="{{ img_fallback + '-720.jpg' }}"
                       class="bg-video"
                       id="vid-720p">
                    <source src="{{ webm_vid_720 }}" type="video/webm" />
                    <source src="{{ mp4_vid_720 }}" type="video/mp4" />
                </video>

                <video preload="auto"
                       autoplay
                       muted
                       loop
                       disablePictureInPicture
                       controlsList="nodownload"
                       poster="{{ img_fallback + '-720.jpg' }}"
                       class="bg-video"
                       id="vid-480p">
                    <source src="{{ webm_vid_480 | url }}" type="video/webm" />
                    <source src="{{ mp4_vid_480 | url }}" type="video/mp4" />
                </video>
            </div>
        {% endif %}

    {% endmacro %}

    {% block bg_video %}{% endblock %}

    <nav>
        <p>
            <a id="retour-home" href="../">
                <span id="Qfung">Q</span><span id="Zfung">Z</span>
            </a>
        </p>
        <a id="about-p">à propos</a>
        <p id="nosfuturs">
            <a href="https://nosfuturs.net"><span>produit par</span> nosfuturs.net</a>
        </p>
        {% block nav %}{% endblock %}
    </nav>
    {% block body %}{% endblock %}
    <section id="about">
        <button id="close">×</button>
        {{ site.get('/about').body }}
    </section>
</body>
