{% extends "layout.html" %}

{% block head %}
    <script type="text/javascript"
            src="{{ '../static/js/profils.js'|url }}"
            defer></script>
{% endblock %}

{% block bg_video %}
    {% from "layout.html" import gen_bg_vid %}
    {{ gen_bg_vid("PROFILS", False) }}

    <img id="bg-image"
         class="PROFILS"
         srcset="{{ '/static/images/PROFILS-480.jpg' }} 480w,
                 {{ '/static/images/PROFILS-720.jpg' }} 768w,
                 {{ '/static/images/PROFILS.jpg' }} 900w"
         sizes="(max-width: 600px) 480px,
                (max-width: 900px) 768px,
                1080px"
         src="{{ '/static/images/PROFILS.jpg' }}"
         alt="Image de fond" />

{% endblock %}

{% block nav %}
    <div id="bonus-nav">
        <h3 id="revenir">
            <script>
                document.write(`<a href="${document.referrer}">Revenir à votre résultat</a>`);
            </script>
        </h3>
    </div>
{% endblock %}

{% block body %}
    <section id="profils">
        {{ this.profil }}
        <h3 id="recommencer">
            <a href="../">Refaire le quizz</a>
            <a href="https://nosfuturs.net">Continuer vers nosfuturs.net</a>
        </h3>
    </section>
{% endblock %}
