{% extends "layout.html" %}

{% block head %}<script type="text/javascript" src="{{ '../static/js/quizz.js'|url }}" defer></script>{% endblock %}

{% block bg_video %}
    {% from "layout.html" import gen_bg_vid %}
    {{ gen_bg_vid("QUIZZ", True) }}

    <img id="bg-image"
         class="{{ QUIZZ }}"
         srcset="{{ '/static/images/QUIZZ-480.jpg' }} 480w,
                 {{ '/static/images/QUIZZ-720.jpg' }} 768w,
                 {{ '/static/images/QUIZZ.jpg' }} 900w"
         sizes="(max-width: 600px) 480px,
                (max-width: 900px) 768px,
                1080px"
         src="{{ '/static/images/QUIZZ.jpg' }}"
         alt="Image de fond" />

{% endblock %}

{% block body %}
    {% set pages = site.query('/quizz').include_undiscoverable(true).all() %}
    <div id="ordre-questions">
        {% for page in pages|sort(attribute="title") %}<p>{{ page._id }}</p>{% endfor %}
    </div>
    {% for page in pages|sort(attribute="title") %}
        <section class="page {{ page.template }} {% if loop.first %}display{% endif %}"
                 id="{{ page._id }}">

            <span class="numero-question">{{ page.title }}</span>

            <h1>{{ page.name | capitalize }}</h1>
            <h3>{{ page.subtitle }}</h3>
            {{ page.question }}
            {% if not loop.last %}

                <div class="reponse">
                    <ul>
                        {% if page.reponse %}
                            {%- for blk in page.reponse.blocks -%}
                                <li>
                                    {% set url = blk.vid|string %}
                                    {% set url_id = url[18:27] %}
                                    <a role="radio"
                                       href="#"
                                       data-videoID="{{ url_id }}"
                                       class="rep{{ loop.index }} {{ blk.lichen }}">{{ blk.reponse }}</a>
                                </li>
                            {%- endfor -%}
                        {% endif %}
                    </ul>
                </div>
            {% else %}
                {# Le href est complété par le js puisqu'on a besoin des scores pour renvoyer vers la bonne page #}
                <h2 id="final-wrapper">
                    <a id="final-question"
                       href="../scores/index.html?CRU=55&FRU=20&GEL=15&FOL=10">DÉCOUVRIR VOTRE RÉSULTAT</a>
                </h2>
            {% endif %}
        </section>
    {% endfor %}

    <div id="toc-mobile">
        <p>
            <span>/</span>20
        </p>
    </div>

    <div id="toc">
        {%- for page in pages -%}
            {%- if not loop.first -%}
                <span>{{ "%02d" | format(loop.index0) }}</span>
            {%- endif -%}
        {%- endfor -%}
    </div>

    <div class="show">
        <audio id="bg-sound" preload="auto" autoplay loop muted="0">
            <source src="{{ '../static/sounds/lichen_quizz_vdef_comp.mp3'|url }}"
                    type="audio/mpeg" />
            Your browser does not support the audio element.
        </audio>
    </div>
    <div class="video-wrapper">
        <iframe title="vimeo-player"
                id="vimeo-player"
                src="https://player.vimeo.com/video/771519469?autoplay=0&controls=1"
                frameborder="0"
                loading="lazy"></iframe>
        <button id="skip" onclick="skipVideo()">»</button>
    </div>
    <a class="switch-sound"
       href="{{ '../static/sounds/clicfinal.mp4'|url }}"></a>
    <script src="https://player.vimeo.com/api/player.js"></script>
{% endblock %}
