{% extends "layout.html" %}

{% block head %}<script type="text/javascript" src="{{ '../static/js/scores.js'|url }}" defer></script>{% endblock %}

{% block bg_video %}
    {% from "layout.html" import gen_bg_vid %}
    {{ gen_bg_vid("SCORES", False) }}

    <img id="bg-image"
         class="SCORES"
         srcset="{{ '/static/images/SCORES-480.jpg' }} 480w,
                 {{ '/static/images/SCORES-720.jpg' }} 768w,
                 {{ '/static/images/SCORES.jpg' }} 900w"
         sizes="(max-width: 600px) 480px,
                (max-width: 900px) 768px,
                1080px"
         src="{{ '/static/images/SCORES.jpg' }}"
         alt="Image de fond" />

{% endblock %}

{% block body %}
    <section id="scores">

        <div id="roles-vid-wrapper"></div>

        <div id="text-video">Cliquez sur un type de lichen pour en savoir plus</div>

        <a href="../profils/?profil=GEL" id="GEL">
            <article>
                <h3>Lichen gélatineux</h3>
                <span class="barre-pourcentage"></span>
            </article>
        </a>
        <a href="../profils/?profil=FOL" id="FOL">
            <article>
                <h3>Lichen foliacé</h3>
                <span class="barre-pourcentage"></span>
            </article>
        </a>
        <a href="../profils/?profil=CRU" id="CRU">
            <article>
                <h3>Lichen crustacé</h3>
                <span class="barre-pourcentage"></span>
            </article>
        </a>
        <a href="../profils/?profil=FRU" id="FRU">
            <article>
                <h3>Lichen fruticuleux</h3>
                <span class="barre-pourcentage"></span>
            </article>
        </a>

        <div id="roles-vid-wrapper">
            <iframe title="vimeo-player"
                    id="vimeo-player"
                    src="https://player.vimeo.com/video/810509764?autoplay=1&controls=1"
                    frameborder="0"
                    loading="lazy"></iframe>
        </div>

    </section>

    <script src="https://player.vimeo.com/api/player.js"></script>
{% endblock %}
